
#NavBarMenu li {
  display: inline-block;
  position: relative;
  margin: 30px;
  padding: 10px;
  font-size: 1.6em;
  background-color: aliceblue;
  border-radius: 50%;
  /* center responsively? */
}

a {
  text-decoration: none;
}