/* Poetry Page */
#NavBarMenu li {
  
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 50%;
    /* center responsively? */
}

a {
  text-decoration: none;
}

.img-stgrd-lt {
  z-index: -1;
  position: absolute;
  /* top: 250px;
  left: 250px; */
  width: 500px;
  height: 300px;
  transform: rotate(10deg);
}

.img-stgrd-rt {
  z-index: -1;
  position: relative;
  /* top: 120px;
  left: 50px; */
  width: 500px;
  height: 300px;
  transform: rotate(-30deg);
}

/* Tasks:
responsive design
  nav bar
  poems inside of img div
*/


