/* Poetry Page */
#NavBarMenu li {
  
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 50%;
    /* center responsively? */
}

a {
  text-decoration: none;
}

.poems > .rudy {
  background-image: url("./images/paper-background.jpeg");
  text-align: center;
  padding: 20px;
}

img {
  display: inline;
}

/* Tasks:
responsive design
  nav bar
  poems inside of img div
*/


