/* landing page */
body{
  background-color: rgb(16, 90, 117);
}

#NavBarMenu li{
  display: inline-block;
  position: relative;
  margin: 10px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 50%;
  /* center responsively? */
}

a {
  text-decoration: none;
}

#portfolioPhoto {
  z-index: 0;
  padding: 0px;
  padding-top: 50p;
  margin-top: 13%;
  margin-left: 30%;
  border-radius: 8%;
  border: solid whitesmoke 3px;
}

/* style nav bar */
/* In CSS, classes are prefixed by a ., ids are prefixed by #, and elements are not prefixed at all. */
