#NavBarMenu li{
  display: inline;
  margin: 10px;
  width: 50%;
  height: 50%;
  text-align: center;
}

#portfolioPhoto {
  height: 200px;
  padding: 50px;
}

/* style nav bar */
/* In CSS, classes are prefixed by a ., ids are prefixed by #, and elements are not prefixed at all. */